.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}



.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  max-width: 1500px;
  margin: 0 auto;
  min-width: 620px;

  &__posts {
    margin-left: 20px;

    &_title {
      margin-top: 33.5px;
      font-size: 25px;
      text-align: center;
      font-weight: 700;
      margin-bottom: 10px;


      @media (max-width: 1018px) {
        margin-top: 30.5px;
        margin-top: 20px;
      }

      @media (max-width: 610px) {
        font-size: 23px;
        margin-top: 30.5px;
      }

      @media (max-width: 607px) {
        font-size: 21px;
        margin-top: 30.5px;
      }

      @media (max-width: 604px) {
        font-size: 19px;
        margin-top: 30.5px;
      }
    }
  }


  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    max-width: 1500px;
    margin: 0 auto;
    margin-bottom: 20PX;


  }

  &__menus_AsideLeft {
    min-width: 200px;
    height: 100%;
    margin-left: 15px;

    @media (min-width: 1019px) {
      display: none;
    }
  }

  &__menus_Aside {
    min-width: 250px;
    width: 20%;
    height: 100%;
    margin-left: 15px;

    @media (max-width: 1018px) {
      display: none;
    }
  }

  &__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    max-width: 1500px;
    margin: 0 auto;
    margin-bottom: auto;
  }

  &__basket_Aside {
    min-width: 300px;
    width: 20%;
    height: 100%;
    margin-right: 15px;
  }
}