.footer {
 
  position: relative;
  padding: 40px;
  background-color: rgb(238, 225, 206);
  color: black;
  min-width: 626px;
  margin-top: auto;
  left: 0;
  box-shadow: 0 -6px 10px rgba(0, 0, 0, 0.2);


  &__wrapper {
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
  }

  &__links {
    display: flex;
    gap: 20px;

    a {
      color: black;
      transition: 0.2s;

      &:hover {
        color: rgba(0, 0, 0, 0.6);
      }
    }

    @media (max-width: 850px) {
      margin-top: 30px;
      flex-direction: column;
    }
  }

  @media (min-width: 850px) {
    width: 100%;
    flex-direction: column;
    justify-content: center;

  }

  .reviews_block {
    font-size: 16px;
    line-height: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 20px;
    height: 20px;
    align-self: center;

    @media (min-width: 1000px) {

      display: none;
    }
  }

  &__copyright {
    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }
  }

}


.reviews {
  font-size: 16px;
  line-height: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: 20px;
  height: 20px;
  align-self: center;

  @media (max-width: 1000px) {

    display: none;

  }

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &_block {

    display: flex;
    flex-direction: row;
    align-items: center;



    align-self: center;

    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }
  }
}