.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

// .main {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   gap: 10px;
//   max-width: 1500px;
//   margin: 0 auto;

//   &__content {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     gap: 10px;
//     max-width: 1500px;
//     margin: 0 auto;
//     margin-bottom: 20px;
//   }

//   .main__content> :first-child {
//     flex: 1;
//     min-width: 0;
//     /* ← ВОТ ЭТО ГЛАВНОЕ */
//     max-width: 800px
//   }

//   &__menus_AsideLeft {
//     min-width: 200px;
//     height: 100%;
//     margin-left: 15px;

//     @media (min-width: 1019px) {
//       display: none;
//     }
//   }

//   &__menus_Aside {
//     min-width: 250px;
//     width: 20%;
//     height: 100%;
//     margin-left: 15px;

//     @media (max-width: 1018px) {
//       display: none;
//     }
//   }

//   &__section {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     gap: 10px;
//     max-width: 1500px;
//     margin: 0 auto;
//     margin-bottom: auto;
//   }

//   &__basket_Aside {
//     min-width: 300px;
//     width: 20%;
//     height: 100%;
//     margin-right: 15px;
//   }
// }
.content {
  padding: 0 20px 10px;
  max-width: 600px;
  min-width: 600px;
  margin: 0 auto auto;
}


.title {
  margin: 20px auto 0;
  font-size: 35px;
  text-align: center;

  @media (max-width: 790px) {
    font-size: 34px;
  }

  @media (max-width: 780px) {
    font-size: 33px;
  }

  @media (max-width: 770px) {
    font-size: 32px;
  }

  @media (max-width: 760px) {
    font-size: 31px;
  }

  @media (max-width: 750px) {
    font-size: 30px;
  }

  @media (max-width: 740px) {
    font-size: 29px;
  }

  @media (max-width: 730px) {
    font-size: 28px;
  }

  @media (max-width: 720px) {
    font-size: 27px;
  }

  @media (max-width: 710px) {
    font-size: 26px;
  }


}