.container {
  max-width: 1200px;
  padding: 20px;
  background-color: #f9fafb;
  min-height: 100%;
  margin: 20px auto;
  border-radius: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #111827;
}

.createButton {
  padding: 8px 16px;
  background-color: #111827;
  color: #ffffff;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    opacity: 0.9;
    transform: scale(0.98);
  }
}

.flex {
  display: flex;

  flex-direction: column;
  gap: 20px;
}


.actionButtons {
  display: flex;
  gap: 8px;
  align-items: center
}

.edit {
  background-color: #e5e7eb;
}

.delete {
  background-color: #fee2e2;
  color: #b91c1c;
}

.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;

    &::before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input:checked+.slider {
    background-color: #4caf50;
  }

  input:checked+.slider::before {
    transform: translateX(20px);
  }
}