.basket {
  width: 100%;

}

.delivery {
  margin: 20px 0 18.5px;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  @media (max-width: 790px) {
    margin: 19px 0 18.5px;
  }

  @media (max-width: 780px) {
    margin: 18px 0 17.5px;
  }

  @media (max-width: 770px) {
    margin: 16px 0 17.5px;
  }

  @media (max-width: 760px) {
    margin: 15px 0 16.5px;
  }

  @media (max-width: 750px) {
    margin: 14px 0 16.5px;
  }

  @media (max-width: 740px) {
    margin: 13px 0 15.5px;
  }

  @media (max-width: 730px) {
    margin: 12px 0 15.5px;
  }

  @media (max-width: 720px) {
    margin: 11px 0 14.5px;
  }

  @media (max-width: 710px) {
    margin: 10px 0 14.5px;
  }
}

.buttonActive {
  background-color: #fff;
  color: #000;
  width: 50%;
  border: 1px solid transparent;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: rgba(193, 86, 57, 0.9);
    color: #fff;
    opacity: 0.7;
  }
}

.button {
  background-color: rgb(193, 86, 57);
  color: #fff;
  width: 50%;
  border: 1px solid transparent;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.dishImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 12px;
}




// _____
.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  color: white;

  background-color: rgb(193, 86, 57);
  transition: background-color, font-weight;

  &:hover {
    background-color: rgba(193, 86, 57, 0.8);
    font-weight: 700;
  }
}

.sendOrder {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;

  height: 30px;
  border-radius: 8px;
  color: white;
  padding: 5px 10px;
  width: 80%;
  margin: 0 auto;
  background-color: rgb(193, 86, 57);
  transition: background-color, font-weight;

  &:hover {
    background-color: rgba(193, 86, 57, 0.8);
    font-weight: 700;
  }
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  color: white;

  background-color: rgb(193, 86, 57);
  transition: background-color, font-weight;

  &:hover {
    background-color: rgba(193, 86, 57, 0.8);
    font-weight: 700;
  }
}

.plusContent {
  transform: translateY(-2px)
}