.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px; // space-y-1
  justify-content: center;

  cursor: pointer;

  @media (min-width: 1024px) {
    gap: 8px; // lg:gap-2
  }
}

.value {
  font-size: 14px; // text-sm
  line-height: 1;

}

.text {
  font-size: 12px; // text-xs
  line-height: 1;
  color: #6b7280;













}